/* body{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    
   
    font-size: 16px;
    color: #444444;
}
#navbar{
    width: 100px;
    padding: 8px;
    margin: auto auto;
}
h1{
    font-size: 2.5rem;
    color: #222222;
}
h2{
    font-size: 2rem;
    color: #222222;
}
h3{
    font-size: 1.75rem;
    color: #222222;
}
h4{
    font-size: 1.5rem;
    color: #222222;
}
h5{
    font-size: 1.25rem;
    color: #222222;
}
h6{
    font-size: 1rem;
    color: #222222;
}


img{
    /* background-size: cover; */
    width: 100%;
    
}
#about{
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    font-size: 1.25rem;
}
#banner{
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.location{
    color: gray;
    margin-bottom: 8px;
}
#info{
    width: 50%;
    padding: 0px 8px;
}
#info p{
    margin: 0px;
}

#team{
    width: 50%;
    border-radius: 10px;
}
#team img{
    
    border-radius: 10px;
    
}
h1,h2{
    text-align: center;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}
#footer{
    background-color: ghostwhite;
    margin-top: 32px;
}
#footer-links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 0;
}
#footer-links li{
    padding: 8px;
}
.copy{
text-align: center;
background-color: #F8FAFC;
padding: 10px;
margin: 0;
font-size: 0.875rem;
}
#jobs{
    
  max-width: 800px;
  
}
#jobs-table{
    
    border: 1px solid grey;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}
#jobs-table tr:nth-child(odd){
   background-color: ghostwhite;
}
.jobs-header-row th{
    border: 1px solid gray;
    padding: 8px;
    background-color: #BFDBFE;
    text-align: center;
    color: #222222;
}
.jobs-data-row td{
    border: 1px solid gray;
}

#size{
    max-width: 800px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #3BB2F6;
}
a:hover, a:focus{
    color: #1D4ED8;
}
#application{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}
#application-form label{
    font-weight: 600;
    
}

#application-form input, select, textarea{
    padding: 4px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}
.form-group{
    margin: 16px;
}
.form-group textarea{
   width: 80%;
   font-family: "Roboto", sans-serif;
   
}
.form-group input[type="submit"]{
    font-weight: 500;
    padding: 16px;
    color: white;
    background-color: #3B8BF6;
    
}

@media screen and (orientation: landscape) {
    body{
        
        background-color: lightblue;
    }
} */

html{
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
    color: #222222;
    font-weight: 600;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}
@media screen and (min-width:576px) {
    
}